#navbar{
    width: 20%;
    background-color: #262a3b;
    border-top-right-radius: 20px;
    padding-top: 5px;
}

#navbar_list ul{
    list-style: none;
}

#navbar_list ul li a {
    display: flex;
    text-decoration: none;
    color: #fff;
}
#title {
    height: 56px;
    border-bottom: 1px solid #3b3f4d;
    margin-top: 20px;
}
#title a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    margin-left: 20px;
    font-weight: 700;
    margin-right: 40px;
}
#title a:hover{
  color: #ff6733;
}